body {
    font-family: 'Kavoon', cursive;
    background-color: #F9F4DF;
    padding: 0;
    margin: 0;
}

/* navbar */
.navbar {
    background-color: #9110F6; /* Hintergrundfarbe der Navbar */
    color: #9110F6; /* Schriftfarbe der Links in der Navbar */
    width: 100%;
    height: 20px;
    padding: 15px 0;
    position: fixed;
    top: 0;
}
  
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Verwendet das Flexbox-Layout für die horizontale Anordnung der Links */
    position: absolute;
    right: 300px;
}
  
.navbar li {
    margin: 0 15px; /* Abstände zwischen den Links */
}
  
.navbar li a {
    text-decoration: none; /* Entfernt den Unterstrich aus den Links */
    color: #fff; /* Schriftfarbe der Links */
    padding: 10px; /* Abstände innerhalb der Links */
}
  
  /* Ändern Sie die Farbe der Links, wenn der Mauszeiger darüber schwebt */
/* .navbar li a:hover {

} */


#titleListe {
    margin-left: 300px;
    margin-top: 60px;
    padding-top: 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
}
.card {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0 0 10px 0;
    width: 17rem; /* Jeweils 30% Breite, damit 3 Karten nebeneinander passen */
    height: 24rem;
    margin: 10px;
    margin: 0  30px 60px 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;

}
.card img {
    width: 100%;
    max-height: 230px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000000;
    object-fit: contain;
}
.card-title {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Arial, sans-serif;

}
.card-description {
    margin-top: 2rem;
}
.card-price {
    margin-top: 10px;
    color: #000000;
    padding-right: 1rem;
    text-align: right;
    position: absolute;
    bottom: 50px;
    right: 10px;
}
.card-button {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #9110F6;
    color: #fff;
    border: none;
    border-top: 1px solid #000000;
    border-radius:0 0 10px 10px;
    padding: 10px;
    cursor: pointer;
    bottom: 0px;
    font-size: 1em;
    color: #000000;
}
a {
    text-decoration: none;
    color: #F9F4DF;
    font-family: 'Kavoon', cursive;
}
/* Media Query für Tablets und kleinere Bildschirme */
@media screen and (max-width: 1366px) {
  #titleList {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
    #titleListe {
      padding-left: 50px;
      padding-top: 40px;
    }
  
    .card-container {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .card {
      width: 45%; /* Ändere die Breite der Karten für Tablets */
    }
  }
  
  /* Media Query für Mobiltelefone und sehr kleine Bildschirme */
  @media screen and (max-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }

    #titleListe {
        word-wrap: break-word;
        font-size: 1.5rem;
        margin-left: 0;
        padding-top: 50px 20px;
    }

    .navbar {
        padding: 15px 20px; /* Anpassung des Navbar-Paddings für die Navbar auf Smartphones */
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .navbar ul {
        position: static;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .navbar li {
        margin: 0 5px;
    }

    .card-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .card {
        width: 60%;
        margin: 10px 0;
    }
}
